@charset "UTF-8";

body {
    font-family: Work Sans, Arial, Helvetica, sans-serif ;
    /*
    Medidas absolutas
    cm, mm, in, px, pt, pc

    Medidas relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em
    */
    font-size: 1em;
    
    /* lighter normal bold bolder*/
    
}

h1 {
    /* shorthand font
    - font-style -> font-weight -> font-size -> font-family*/

    /*font-family: 'Work Sans', 'sans-serif';
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;*/

    font: italic bolder 3em 'Work Sans', 'sans-serif'
}

h2 {
    font: bold 2em 'Work Sans'
}