@charset "UTF-8";

/* em HTML é id = em CSS é # (só pode um elemento)
   em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: aliceblue;
}

h2 {
    color: blueviolet;
}

.basico {
    color: brown;
}

.intermediario {
    color: black;
}

.avançado {
    color: chocolate;
}

.destaque {
    background-color: yellow;
}